body {
    background-color: black;
}


#mainHeading {
    font-size: 41px;
}

#heading3 {
    font-size: 30px;
}

p title, p, h3, h1 {
    color: green;
    text-align: center;
}


img {
    text-align: center;
}



